<a href="https://colab.research.google.com/github/armelyara/hamoye_dsc_interns/blob/main/Code_Tag_Along_Stage_C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import python packages
import pandas as pd

In [2]:
df = pd.read_csv('/tmp/Data_for_UCI_named.csv' ) 
print (df)

          tau1      tau2      tau3      tau4        p1        p2        p3  \
0     2.959060  3.079885  8.381025  9.780754  3.763085 -0.782604 -1.257395
1     9.304097  4.902524  3.047541  1.369357  5.067812 -1.940058 -1.872742
2     8.971707  8.848428  3.046479  1.214518  3.405158 -1.207456 -1.277210
3     0.716415  7.669600  4.486641  2.340563  3.963791 -1.027473 -1.938944
4     3.134112  7.608772  4.943759  9.857573  3.525811 -1.125531 -1.845975
...        ...       ...       ...       ...       ...       ...       ...
9995  2.930406  9.487627  2.376523  6.187797  3.343416 -0.658054 -1.449106
9996  3.392299  1.274827  2.954947  6.894759  4.349512 -1.663661 -0.952437
9997  2.364034  2.842030  8.776391  1.008906  4.299976 -1.380719 -0.943884
9998  9.631511  3.994398  2.757071  7.821347  2.514755 -0.966330 -0.649915
9999  6.530527  6.781790  4.349695  8.673138  3.492807 -1.390285 -1.532193

            p4        g1        g2        g3        g4      stab     stabf
0    -1.723086  0.650456  0.859578  0.887445  0.958034  0.055347  unstable
1    -1.255012  0.413441  0.862414  0.562139  0.781760 -0.005957    stable
2    -0.920492  0.163041  0.766689  0.839444  0.109853  0.003471  unstable
3    -0.997374  0.446209  0.976744  0.929381  0.362718  0.028871  unstable
4    -0.554305  0.797110  0.455450  0.656947  0.820923  0.049860  unstable
...        ...       ...       ...       ...       ...       ...       ...
9995 -1.236256  0.601709  0.779642  0.813512  0.608385  0.023892  unstable
9996 -1.733414  0.502079  0.567242  0.285880  0.366120 -0.025803    stable
9997 -1.975373  0.487838  0.986505  0.149286  0.145984 -0.031810    stable
9998 -0.898510  0.365246  0.587558  0.889118  0.818391  0.037789  unstable
9999 -0.570329  0.073056  0.505441  0.378761  0.942631  0.045263  unstable

[10000 rows x 14 columns]

In [9]:
#Check the distribution of target variable
df['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [5]:
#Drop the row with missing values
df.dropna()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,0.023892,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,-0.025803,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,-0.031810,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,0.037789,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,0.045263,unstable

In [6]:
#Count the row with missing value
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [13]:
#More preprocessing 
#We will define features and target variables for model
X = df.drop(columns= ['stab','stabf']) 
y = df['stabf'] 
print(X)
print(y)

          tau1      tau2      tau3      tau4        p1        p2        p3  \
0     2.959060  3.079885  8.381025  9.780754  3.763085 -0.782604 -1.257395
1     9.304097  4.902524  3.047541  1.369357  5.067812 -1.940058 -1.872742
2     8.971707  8.848428  3.046479  1.214518  3.405158 -1.207456 -1.277210
3     0.716415  7.669600  4.486641  2.340563  3.963791 -1.027473 -1.938944
4     3.134112  7.608772  4.943759  9.857573  3.525811 -1.125531 -1.845975
...        ...       ...       ...       ...       ...       ...       ...
9995  2.930406  9.487627  2.376523  6.187797  3.343416 -0.658054 -1.449106
9996  3.392299  1.274827  2.954947  6.894759  4.349512 -1.663661 -0.952437
9997  2.364034  2.842030  8.776391  1.008906  4.299976 -1.380719 -0.943884
9998  9.631511  3.994398  2.757071  7.821347  2.514755 -0.966330 -0.649915
9999  6.530527  6.781790  4.349695  8.673138  3.492807 -1.390285 -1.532193

            p4        g1        g2        g3        g4
0    -1.723086  0.650456  0.859578  0.887445  0.958034
1    -1.255012  0.413441  0.862414  0.562139  0.781760
2    -0.920492  0.163041  0.766689  0.839444  0.109853
3    -0.997374  0.446209  0.976744  0.929381  0.362718
4    -0.554305  0.797110  0.455450  0.656947  0.820923
...        ...       ...       ...       ...       ...
9995 -1.236256  0.601709  0.779642  0.813512  0.608385
9996 -1.733414  0.502079  0.567242  0.285880  0.366120
9997 -1.975373  0.487838  0.986505  0.149286  0.145984
9998 -0.898510  0.365246  0.587558  0.889118  0.818391
9999 -0.570329  0.073056  0.505441  0.378761  0.942631

[10000 rows x 12 columns]
0       unstable
1         stable
2       unstable
3       unstable
4       unstable
          ...
9995    unstable
9996      stable
9997      stable
9998    unstable
9999    unstable
Name: stabf, Length: 10000, dtype: object

In [24]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score,confusion_matrix

In [54]:
#Split the data into training and testing sets 
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 1 ) 
y_train.value_counts()

unstable    5092
stable      2908
Name: stabf, dtype: int64

In [48]:
#Using the standard scaler to transform the train set (x_train, y_train) and the test set (x_test).
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
normalised_train_df = scaler.fit_transform(x_train, y_train) 
normalised_test_df = scaler.transform(x_test)

In [49]:
from sklearn.ensemble import RandomForestClassifier
ucidata = RandomForestClassifier(n_estimators=10, random_state=1)
ucidata.fit(x_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=1)

In [50]:
from sklearn.ensemble import RandomForestClassifier
new_predictions = ucidata.predict(normalised_test_df)
accuracy = accuracy_score(y_test, y_pred=new_predictions) 
print(accuracy)

0.356

In [57]:
from sklearn.ensemble import ExtraTreesClassifier
ucidata = ExtraTreesClassifier(n_estimators=10, max_depth=None,
min_samples_split=2, random_state=1)
ucidata.fit(x_train,y_train)

ExtraTreesClassifier(n_estimators=10, random_state=1)

In [52]:
import xgboost as xgb
xgb_model = xgb.XGBClassifier(random_state=1)
xgb_model.fit(x_train, y_train)

XGBClassifier(random_state=1)

In [65]:
y_pred = xgb_model.predict(normalised_test_df) 
accuracy = accuracy_score(y_test, y_pred) 
print(accuracy)

0.356

In [34]:
from lightgbm import LGBMClassifier

In [35]:
lgbm = LGBMClassifier(random_state=1)
lgbm.fit(x_train, y_train)

LGBMClassifier(random_state=1)

In [55]:
y_pred1 = lgbm.predict(normalised_test_df) 
accuracy = accuracy_score(y_test, y_pred1) 
print(accuracy)

0.356

In [60]:
from sklearn.model_selection import cross_val_score
cv_scores = cross_val_score(ucidata, x_train, y_train, cv=5 )
print("CV average score: %.2f" % cv_scores.mean())

CV average score: 0.87